<?xml version="1.0" encoding="UTF-8"?>
<Data>
    <Global>
        <ElectricityPrice>0.085</ElectricityPrice>
        <CellSize>15.6</CellSize>
        <CellArea>238</CellArea>
        <WaferPrice>0.5537</WaferPrice>
        <LabourCost>0.03789</LabourCost>
        <BuildingCost>0.05844</BuildingCost>
        <AutomationCost>0.07</AutomationCost>
        <ExchangeRate>1.5</ExchangeRate>
        <Depriciation>7</Depriciation>
    </Global>
    <Process>
        <Inspection>
            <Equipment>
                <Uptime>0.9681</Uptime>
                <Yield>0.9990</Yield>
                <BreakageRate>0.001</BreakageRate>
                <UpfrontCost>384615</UpfrontCost>
                <ElectricityConsumptionRate>48</ElectricityConsumptionRate>
                <Throughput>2176</Throughput>
            </Equipment>
        </Inspection>
        <Etch>
            <SumpValue>100</SumpValue>
            <BleedRate>0.07</BleedRate>
            <Material>
                <KOH>
                    <Price>4</Price>
                </KOH>
                <Water>
                    <Price>0.0028</Price>
                </Water>
            </Material>
            <Equipment>
                <Uptime>0.88</Uptime>
                <Yield>0.9995</Yield>
                <BreakageRate>0</BreakageRate>
                <UpfrontCost>307692</UpfrontCost>
                <ElectricityConsumptionRate>90</ElectricityConsumptionRate>
                <Throughput>2400</Throughput>
            </Equipment>
            <SumpVolume>100</SumpVolume>
            <BleedRate>0.07</BleedRate>
            <WaferPerBatch>200</WaferPerBatch>
        </Etch>
        <Texture>
            <SumpValue>100</SumpValue>
            <WaferPerBatch>200</WaferPerBatch>
            <BleedRate>0.07</BleedRate>
            <EvaporationRate>0.1</EvaporationRate>
            <Material>
                <KOH>
                    <Price>4</Price>
                </KOH>
                <IPA>
                    <Price>2.4</Price>
                </IPA>
                <Water>
                    <Price>0.0028</Price>
                </Water>
            </Material>
            <Equipment>
                <Uptime>0.88</Uptime>
                <Yield>0.9995</Yield>
                <BreakageRate>0</BreakageRate>
                <UpfrontCost>1400000</UpfrontCost>
                <ElectricityConsumptionRate>90</ElectricityConsumptionRate>
                <Throughput>2400</Throughput>
            </Equipment>
        </Texture>
        <SpinOnDiffusion>
            <Material>
                <H3PO4>
                    <Price>5.5</Price>
                    <Consumption>814</Consumption>
                </H3PO4>
                <N2>
                    <Price>0.5</Price>
                    <Consumption>306352</Consumption>
                </N2>
            </Material>
            <Equipment>
                <Uptime>0.9562</Uptime>
                <Yield>0.9995</Yield>
                <BreakageRate>0.0005</BreakageRate>
                <UpfrontCost>461538</UpfrontCost>
                <ElectricityConsumptionRate>60</ElectricityConsumptionRate>
                <Throughput>3600</Throughput>
            </Equipment>
            <OverallThroughput>400</OverallThroughput>
        </SpinOnDiffusion>
        <PlasmaEtch>
            <Equipment>
                <Uptime>0.9360</Uptime>
                <Yield>0.9995</Yield>
                <BreakageRate>0</BreakageRate>
                <UpfrontCost>461538</UpfrontCost>
                <Throughput>1800</Throughput>
            </Equipment>
        </PlasmaEtch>
        <ARCoating>
            <Material>
                <SIH4>
                    <Price>0.24</Price>
                    <Consumption>566093</Consumption>
                </SIH4>
                <NH3>
                    <Price>0.001</Price>
                    <Consumption>1085011</Consumption>
                </NH3>
            </Material>
            <Equipment>
                <Uptime>0.9360</Uptime>
                <Yield>0.9930</Yield>
                <BreakageRate>0</BreakageRate>
                <UpfrontCost>900000</UpfrontCost>
                <ElectricityConsumptionRate>92.7</ElectricityConsumptionRate>
                <Throughput>2274</Throughput>
            </Equipment>
        </ARCoating>
        <SilverScreenPrint>
            <Material>
                <SilverPaste>
                    <Density>2</Density>
                    <Price>620</Price>
                </SilverPaste>
                <Screen>
                    <Price>102</Price>
                    <ConsumptionRate>6000</ConsumptionRate>
                </Screen>
            </Material>
            <Busbar>
                <Width>0.8</Width>
                <Number>3</Number>
            </Busbar>
            <Equipment>
                <Uptime>0.9552</Uptime>
                <Yield>0.9965</Yield>
                <BreakageRate>0.002</BreakageRate>
                <UpfrontCost>2400000</UpfrontCost>
                <ElectricityConsumptionRate>50</ElectricityConsumptionRate>
                <Throughput>2880</Throughput>
            </Equipment>          
        </SilverScreenPrint>
        <AlScreenSetup>
            <Material>
                <SilverPaste>
                    <Density>2</Density>
                    <Price>420</Price>
                </SilverPaste>
                <AluminiumPaste>
                    <Price>80</Price>
                    <Density>2</Density>
                </AluminiumPaste>
                <Screen>
                    <Price>89</Price>
                    <ConsumptionRate>20000</ConsumptionRate>
                </Screen>
            </Material>
            <Tab>
                <Width>0.8</Width>
                <Number>3</Number>
            </Tab> 
            <Equipment>
                <Uptime>0.9552</Uptime>
                <Yield>0.9965</Yield>
                <BreakageRate>0.002</BreakageRate>
                <UpfrontCost>2400000</UpfrontCost>
                <ElectricityConsumptionRate>50</ElectricityConsumptionRate>
                <Throughput>2880</Throughput>
            </Equipment>       
        </AlScreenSetup>
        <Cofiring>
            <NitrogenCost>0.0006</NitrogenCost>
            <OxygenCost>0.0006</OxygenCost>
            <Equipment>
                <Uptime>0.9745</Uptime>
                <Yield>0.9980</Yield>
                <BreakageRate>0.002</BreakageRate>
                <UpfrontCost>215385</UpfrontCost>
                <ElectricityConsumptionRate>50</ElectricityConsumptionRate>
                <Throughput>2176</Throughput>
            </Equipment> 
        </Cofiring>
    </Process>
</Data>